/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.alert {
    background-color: #df000085;
    padding: 10px;
    text-justify: left;
    max-width: 500px;
}

.logo {
    margin-right: 20px;
    border-radius: 50px;
}